.cart {
    position: absolute;
    right: 2rem;
    top: 4rem;
    z-index: 999;
    padding: 1rem;
    background: rgba(238, 231, 225, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(238, 231, 225, 0.3);
    display: flex;  
    flex-direction: column;
    gap: 2rem;
    h1 {
        margin-bottom: 0.5rem;
        color: var(--nav-overlay-color);
        font-weight: 400;
        font-size: 1.3rem; 
    }
    .item {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.5rem ;
        position: relative;
        img {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
        }

        .details {
            .titleunddelete {
                display: flex;

                gap: 1rem;
                h1 {
                    color: var(--accent-color);
                    font-size: 1.3rem;
                }
            }
            p {
                color: gray;
                font-size: 0.9rem;
            }
            .price {
                color: var(--accent-color);
            }
        }

        .delete {
            font-size: 1.5rem;
            color: #ee7575;
            cursor: pointer;
        }

        .cart_dash {
            position: absolute;
            bottom: -1.5rem;
            left: 0;
            width: 20vw;
            height: 1px;
            background-color: var(--text-color);
            border-radius: 3rem;

        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        span {
            font-size: 1.3rem;
            color: gray;
        }
    }

    button {
        width: 100%;
        padding: 0.625rem;
        background-color: var(--nav-overlay-color);
        color: var(--container-color);
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .reset {
        color: #ee7575;
    }
}

.cartt {
    min-height: 0;
}

.cart.show {
    min-height: 20vh;
}