.nav__second {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 4.3rem;
    background-color: transparent;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    border-bottom: 2px solid var(--nav-overlay-color);
}

.nav__second.spin {
    border-bottom: 2px solid var(--container-color);
}

.nav__container_second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: relative;
    padding-bottom: 1.6rem;
}


.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: relative;
}

.nav__content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 40%;
    bottom: 0;
    position: relative;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding-top: 2rem;
}

.nav__content ul li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.nav__content.spin ul li {
    color: var(--container-color);
}

.new__arrivals1 {
    display: none;
}


.upper {
    position: relative;
}

.upper__submenu {
    position: absolute;
    top: 4rem;
    left: -30%;
    width: 20vw;
    height: 26vh;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.upper__submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.6rem;
    gap: 0.3rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: relative;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 1rem 0.5rem;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    background: rgba(238, 231, 225, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(238, 231, 225, 0.3);
}

.bottoms {
    position: relative;
}

.bottoms__submenu {
    position: absolute;
    top: 4rem;
    left: -40%;
    width: 20vw;
    height: 20vh;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.bottoms__submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.6rem;
    gap: 0.3rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: relative;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 1rem 0.5rem;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    background: rgba(238, 231, 225, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(238, 231, 225, 0.3);
}

.set {
    position: relative;
}

.set__submenu {
    position: absolute;
    top: 4rem;
    left: -0%;
    width: 23vw;
    height: 50vh;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.set__submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 0.1rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    position: relative;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 1rem 0.5rem;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    background: rgba(238, 231, 225, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(238, 231, 225, 0.3);
}

.set__submenu ul li {
    transition: all 0.5s ease;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}


.bags {
    position: relative;
}

.bags__submenu {
    position: absolute;
    top: 4rem;
    left: -0%;
    width: 20vw;
    height: 17vh;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.bags__submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 0.3rem;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: relative;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 1rem 0.5rem;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    background: rgba(238, 231, 225, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(238, 231, 225, 0.3);
}

.bags__submenu ul li, .set__submenu ul li, .bottoms__submenu ul li, .upper__submenu ul li{
    color: var(--nav-overlay-color);
}


@media (max-width: 450px) {
    .nav__container_second {
        font-size: 0.4rem;
        gap: 0.1rem;
        width: 100%;

    }

    .nav__second {
        top: 4rem;
        height: 4.5vh;
        padding-bottom: 0.5rem;

    }

    .nav__content {
        gap: 0rem;
    }

    .nav__content ul li {
        padding: 1rem 0.2rem
    }

    .new__arrivals1 {
        display: block;
    }

    .new__arrivals2 {
        display: none;
    }

    .nav__content ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        background-color: transparent;
        color: var(--title-color);
        font-family: "Satoshi-Bold", sans-serif;
        font-size: 0.85rem;
        width: 97%;
        height: 100%;
        bottom: 0;
        position: relative;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        padding-top: 2rem;
    }

}



/*    ---------  */




.link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}




.link__graphic {
    position: absolute;
    top: 0;
    left: 1rem;
    pointer-events: none;
    fill: none;
    stroke: var(--title-color);
    stroke-width: 1px;
}

.link__graphic_laptop {
    position: absolute;
    top: 0;
    left: -2.5rem;
    pointer-events: none;
    fill: none;
    stroke: var(--title-color);
    stroke-width: 0.0625rem;

}



.link__graphic_pijamas {
    position: absolute;
    top: 0;
    left: -3.5rem;
    pointer-events: none;
    fill: none;
    stroke: var(--title-color);
    stroke-width: 0.0625rem;

}

.link__graphic_sweatpants {
    position: absolute;
    top: 0;
    left: -1rem;
    pointer-events: none;
    fill: none;
    stroke: var(--title-color);
    stroke-width: 0.0625rem;

}

.link__graphic_backpacks {
    position: absolute;
    top: 0;
    left: -0.5rem;
    pointer-events: none;
    fill: none;
    stroke: var(--title-color);
    stroke-width: 0.0625rem;

}

.link__graphic--slide {
    left: -3rem;
    top: -0.8875rem;
    stroke-width: 2px;
    transition: transform 1.7s;
    transition-timing-function: 2s cubic-bezier(0, 0.25, 0.5, 1);
}

.link:hover .link__graphic--slide {
    transform: translate3d(-66.6%, 0, 0);
}

.link--herse {
    font-size: 1.375rem;
    font-weight: bold;
}

.link--herse::before {
    display: none;
}

.link__graphic--stroke path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

.link:hover .link__graphic--stroke path {
    stroke-dashoffset: 0;
}

.link__graphic--arc path {
    transition: stroke-dashoffset 2.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.link:hover .link__graphic--arc path {
    transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
    transition-duration: 0.3s;
}

.link--carme::before {
    display: none;
}

.link__graphic--scribble {
    top: 100%;
}

.link__graphic--scribble path {
    transition: stroke-dashoffset 2.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.link:hover .link__graphic--scribble path {
    transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
    transition-duration: 1.5s;
}






.shirt__submenu {
    position: absolute;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    width: 50vw;
    height: 50vh;
    bottom: -6.5rem;
    left: 20rem;
    z-index: 9999999;
}



.shirt__submenu img {
    z-index: 9999999;
    height: 70vh;
    width: 70%;
    object-fit: cover;
}

.cargo__submenu {
    position: absolute;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    width: 50vw;
    height: 50vh;
    bottom: -11.5rem;
    left: 20rem;
    z-index: 9999999;
}

.cargo__submenu img {
    z-index: 9999999;
    height: 70vh;
    width: 70%;
    object-fit: cover;
}

.nottoday__submenu {
    position: absolute;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    width: 50vw;
    height: 50vh;
    top: -3rem;
    left: -210%;
    
}

.shortss {
    position: relative;

}


.nottoday__submenu img {
    z-index: 9999999;
    height: 70vh;
    width: 70%;
    object-fit: cover;
}