.picks {
    width: 100%;
    cursor: grab;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 0.5rem;
}

.picks::after {
    content: "";
    position: absolute;
    width: 86vw;
    left: 6.5em;
    height: 2rem;
    border-bottom: 1px solid var(--title-color);
    z-index: 1;
    top: 27.9rem;
}

.picks::-webkit-scrollbar {
    display: none;
}




.picks__wrapper {
    white-space: nowrap;
    margin-top: 3rem;

}

.picks__inner__card img {
    width: 25rem;
    height: 12.5rem;
    object-fit: cover;
    object-position:  50% 30%;
    border: 0.7px solid var(--text-color);
    border-radius: 0.5rem;  
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);

}

.picks__inner__card:hover img {
    transform: scale(1.07);
    border: 1px solid var(--accent-color);
}

.picks__inner__card {
    display: inline-block;
    align-items: center;
    position: relative;
    width: 30vw;
    scroll-snap-align: start;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    margin-top: 5rem;

    padding-top: 1rem;
}


.picks__inner__card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.picks__inner__card__info h1 {
    font-size: 1.3rem;
    font-weight: var(--font-bold);
    color: var(--title-color);
    text-transform: uppercase;
    font-family: "Satoshi-Bold", sans-serif;
    letter-spacing: 0.125rem;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding-top: 0.5rem;
    margin-left: 1rem;
}


@media (max-width: 450px) {

    .picks__wrapper {
        white-space: nowrap;
        margin-top: 1rem;
    
    }

    .picks__inner__card img  {
        width: 10rem;
        height: 10rem;
        margin-right: 2rem;
    }

    .picks__inner__card  {
        width: 40vw;
    }

    .picks__inner__card__info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    

    .picks__inner__card__info h1 {
        gap: 0;
        letter-spacing: normal;
        font-size: 0.7rem;
    }

    .picks::after {
        content: "";
        position: absolute;
        width: 80vw;
        left: 3rem;
        height: 2rem;
        border-bottom: 1px solid var(--title-color);
        z-index: 1;
        top: 22.5rem;
    }
    

}

