.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.3rem;
  background-color: transparent;
  z-index: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-bottom: 2px solid var(--title-color);
}

.nav.spin {
  border-bottom: 2px solid var(--container-color);
}


.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  color: var(--title-color);
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  bottom: 0;
  position: relative;
}


.user__icon {
  display: none;
}


.rest__left_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.logo {
  text-transform: uppercase;
  letter-spacing: 0.525rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #999;
  padding-left: 4rem;
  position: relative;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
}

.logoTitle {
  font-size: 2.5rem;
  font-family: "LOAL";
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 1.25rem;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  padding-left: 1rem;
}

.logoTitle.spin {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  color: var(--container-color);
}

.logo img {
  width: 7.5rem;
  height: 7.5rem;
  fill: var(--title-color);
}

.logo h1 {
  font-size: 2.5rem;
  font-family: "LOAL";
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 1.25rem;
  font-weight: 800;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  
}

.dash {
  width: 0.125rem;
  height: 4rem;
  background-color: var(--nav-overlay-color);
  position: absolute;
  top: 0.1rem;
  right: -24rem;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}


















@media (max-width: 450px) {

  .nav {
    width: 100%;
    height: 7vh;
  }



  .menu__toggle {
    padding: 1.05rem 1.5rem;
  }

  .menu__toggle i {
    font-size: 1.3rem;

  }




  .menu__toggle h1 {
    text-transform: uppercase;
    color: var(--title-color);
    font-size: 1rem;
    letter-spacing: 0rem;
  }

  .search-icon {
    padding: 1.3rem 0.5rem;
    font-size: 1rem;
    padding-right: 0;
  }

  .logo {
    padding-left: 0.5rem;
    letter-spacing: normal;
  }

  .logo h1 {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
  }
  
  .login__text {
    display: none;
  }

  .user__icon {
    display: block;
  }

  .search__user_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .nav__logins {
    display: none;
  }

  .createpost__button {
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    border-left: 2px solid #000;
    width: 25vw;
    display: flex;
    background-color: var(--nav-overlay-color);
    align-items: center;
    justify-content: center;
    height: 7.2vh;
    color: var(--container-color);
    gap: 1rem;
  }
  .cart-icon {
    display: none;
  }

}