.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
}

.section__subtitle-login {
    display: flex;
    color: var(--text-color);
    width: 50%;
    text-align: center;
    font-size: 1.1rem;
}

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-transform: lowercase;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    width: 100vw;
    margin-right: 3.4rem;
}

.form__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    width: 100%;
    padding: 5rem;
    
}

.form__container_form-input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 23vw;
    padding-bottom: 0.52rem;
}

.form__container_form-buttons {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: first baseline;
    gap: 0.5rem;
    font-family: "Satoshi", sans-serif;
}

.form__container_form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
    padding-right: 3.5rem;

}

.login__button-sign {
    background-color: var(--nav-overlay-color);
    color: var(--container-color);
    display: flex;
    justify-content: space-between;
    margin: 0.4rem 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
    gap: 13rem;
}

.login__button h3 {
    color: var(--container-color);
}

.login__input {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 1rem;
    width: 100%;
}

.login__input input {
    font-size: 1rem;
    color: var(--text-color);
    background: transparent;
    border-bottom: 1px solid var(--text-color);
    padding: 1rem
}

.login__input input:focus {
    outline: 0.5px solid  var(--accent-color);
    background: var(--body-color)
}

.login__input input:-webkit-autofill{
    -webkit-box-shadow:200px 200px 100px white inset; 
    box-shadow:200px 200px 100px rgb(251, 252, 244) inset; 
    color: #fff;
}

.form__container_form-center span {
    font-size: 1.5rem;
    color: var(--text-color);
}

.signup__social-button {
    display: flex;
    gap: 1rem;
    text-align: left;
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
    width: 100%;
    color: var(--container-color);
    border-radius: 0.5rem;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    text-align: center;
    align-content: center;
}

.google__button {
    background-color: #ffffff;
    color: black;
    border: 0.001px solid var(--text-color);
}

.facebook__button {
    background-color: #5d5deb;
    color: #fff;
}

.apple__button {
    background-color: #1b1b1b;
    color: #fff;
}

.signup__social-button:hover {
    border-radius: 0;
}

.login__forgot  {
    font-size: var(--small-font-size);
    color: var(--text-color);
    font-family: "Satoshi", sans-serif;
}

.signup__link {
    font-size: 0.95rem;
    font-family: "Satoshi-Bold", sans-serif;
    color: var(--accent-color);
}

.signup__social-button i {
    margin-top: 0.1rem;
}


.clickhere__button {
    
    color: var(--accent-color);
}



