.awareness {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.awareness__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.awareness__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    position: relative;
    border-bottom: 1px solid #000;
    padding: 7rem 0rem 0rem 0rem;
    width: 95%;
}

.awareness__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    padding: 2rem;
    padding-top: 6rem;
    border-top: 1px solid #000;
    position: relative;
}

.awareness__guide {
    position: absolute;
    top: 2rem;
}

.awareness__guide p {
    font-size: 1.2rem;
    color: var(--title-color);
    letter-spacing: 0.2rem;
    text-align: left;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    text-transform: uppercase;
}

.awareness__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    position: relative;
    width: 24%;
}

.awareness__tag p {
    font-size: 1rem;
    color: var(--title-color);
    letter-spacing: 0.2rem;
    text-align: left;
    border: 1px solid var(--title-color);
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.awareness__tag p:hover {
    color: var(--container-color);
    border: 1px solid var(--nav-overlay-color);
    background-color: var(--nav-overlay-color);
}

.awareness__data h2 {
    color: var(--title-color);
    letter-spacing: 0.2rem;
    text-align: left;
}

.awareness__title {
    display: flex;
    align-items: center;
    gap: 4rem;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.awareness__title h3 {
    font-size: 1.3rem;
    color: var(--title-color);
    letter-spacing: 0.2rem;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
}

.awareness__title i {
    border: 1px solid var(--title-color);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--title-color);
    text-align: left;
    transform: rotate(305deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
}

.awareness__title i:hover {
    color: var(--container-color);
    border: 1px solid var(--nav-overlay-color);
    background-color: var(--nav-overlay-color);
    transform: rotate(360deg);
}
.data1 {
    border-right: 1px solid #000;
}

.data2 {
    border-right: 1px solid #000;
}
