.containerrr {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    margin-top: 8.2rem;

}



.menu-cart {
    font-family: Helvetica;
    font-weight: 400;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.product-wrapper {
    display: flex;
    height: 100%;
}

.image__wrapper {
    display: flex;
    flex-direction: column;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
    position: relative;
    height: 85%;
}



.product__main_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.image__thumbnails{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    position: relative;
}

.image__thumbnails::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    border-bottom: 1px solid var(--text-color);
    z-index: 1;
    top: 12rem;
}

.image__thumbnails img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.image__thumbnail img:hover {
    background-color: #809fcc ;
}

.product__main_img img {
    position: relative;
    object-fit: cover;
    border-radius: 1rem;
    height: 53rem;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1.5;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 2rem;
}

.product-description {
    color: var(--nav-overlay-color);
    font-family: "Grifinito L";
    padding-top: 3rem;
    letter-spacing: 0.2rem;
}



.product-title {
    font-family: "Grifinito L";
    font-size: 6em;
    line-height: 0.8em;
    letter-spacing: 0.2rem;
    color: var(--nav-overlay-color);
}

.product-colors {
    margin-top: 2rem;
    margin-bottom: 0.58rem;
}

.product-colors label input {
    display: none;
}

.product-price {
    font-family: "Grifinito L";
    font-size: 4em;
    margin-top: 0.3em;
}

.product-color {
    font-family: Helvetica;
    font-weight: 400;
    padding: 1.2em 0;;
}

.product-size {
    margin-top: 1.4em;
    font-family: "Satoshi-Medium";
    padding-bottom: 1rem;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    color: var(--text-color);
}


.red {
    background-color: #ff8787;
}

.blue {
    background-color: #809fcc;
}

.mint {
    background-color: #68ba89;
}

.yellow {
    background-color: #f8f8a9;
}

.black {
    background-color: #3c3c3c;
}

.product-colors label span {
    border: 1px solid rgba(101, 82, 76, 0.2);
    font-family: "Satoshi";
    width: 100%;
    margin-right: 0.5rem;
    height: 100%;
    overflow: hidden;
    padding: 1.2rem 2rem;
    line-height: 1;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    color: var(--body-color);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
}

.product-colors input:checked+span {
    border: 5px solid #fff;
    border-radius: 0.5rem;
}



label {
    display: inline-block;
    position: relative;
}

.product-size label input {
    display: none;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.product-size label span {
    border: 1px solid rgba(101, 82, 76, 0.2);
    font-family: "Satoshi";
    width: 100%;
    margin-right: 0.5rem;
    height: 100%;
    overflow: hidden;
    padding: 1.2em 1.2em;
    line-height: 1;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    transition: all 0.8s cubic-bezier(0.1, 0.8, 1, 1.9);
    cursor: pointer;
}

.product-size input:checked+span {
    background-color: var(--nav-overlay-color);
    color: var(--container-color);
}

.product-descriptionn {
    margin-top: 4rem;
    padding-right: 2rem;
    font-family: "Satoshi-Medium";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    color: var(--text-color);
}

.product-add-to-cart {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: Helvetica;
    width: 109%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
    font-family: "Satoshi-Medium";
    background-color: var(--nav-overlay-color);
    color: var(--container-color);

}

.product-add-to-cart:hover {

    transition: all 0.8s cubic-bezier(0, 1, 1, 1);
    cursor: pointer;
}

.product-add-to-cart:hover .product-add-to-cart h1 {
    color: var(--container-color);
}

