.nav__link.spin {
    position: relative;
    color: var(--container-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 0.6rem;
    display: block;
}

.nav-overlay {
    position: fixed;
    z-index: 9;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: all 1.52s cubic-bezier(0.16, 1, 0.3, 1);
    background-color: var(--nav-overlay-color);
}

.nav-links {
    position: absolute;
    top: 50%;
    right: 23%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-right: 2px solid var(--container-color);
    height: 100%;
    margin-top: 8.3rem;
    opacity: 0;
}

.nav-links.spin {
    opacity: 1;
}

.menu-item-wrapper {
    display: flex;
    position: relative;
    top: 5%;
    left: -10%;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    align-items: flex-start;
    gap: 1rem;
    padding: 0.6rem;
    width: 100%;
}

.nav-item {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    padding: 0.6rem;
    display: block;
    width: 100%;
    text-decoration: none;
    cursor: none;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-item h1 {
    text-decoration: none;
    cursor: none;
    color: transparent;
    -webkit-text-stroke: 0.2px var(--container-color);
    font-size: 4.5em;
    font-family: "Posterama", sans-serif;
    letter-spacing: 0.5rem;
    font-weight: bolder;
    transition: 0.3s ease;
    top: 0;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
    position: relative;
    border-bottom: 1px solid var(--container-color);


}

/* .nav-item h1::before {
    position: absolute;
    content: attr(data-text);
    -webkit-text-fill-color: var(--container-color);
    transition: 1s cubic-bezier(0.16, 0.5, 0.3, 1);
    width: 0%;
    overflow: hidden;
    white-space: nowrap;

}

.nav-item h1:hover::before {
    width: 100%;
} */



.nav__logins.spin {
    border-left: 2px solid var(--container-color);
}



.menu-arrow i {
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    position: relative;
    left: 0%;
    top: 3rem;
    margin-right: 0.625rem;
    font-size: 3.5rem;
    color: var(--container-color);
}


.nav-footer {
    position: absolute;
    width: 100%;
    bottom: -4rem;
    left: 0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}


/* -------- */



.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
}

.menu__item {
	cursor: default;
	position: relative;
	padding: 0 5vw;
}

.menu__item-link {
	cursor: pointer;
	position: relative;
    -webkit-text-stroke: 1.2px var(--container-color);
	-webkit-text-fill-color: transparent;
	color: transparent;
	transition: color 0.4s cubic-bezier(0.16, 1, 0.3, 1); /* Add transition for color property */
	backface-visibility: hidden;
	transform: translateZ(0);
}

.menu__item-link::before {
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
	transition: color 0.4s cubic-bezier(0.16, 1, 0.3, 1); /* Add transition for color property */
	z-index: 1; /* Add a higher z-index to bring it in front */

}

.menu__item-link:hover {
    -webkit-text-stroke: 0.02px var(--nav-overlay-color);
}

.menu__item-img {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 200%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
	transition: all 0.4s;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: color-burn;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span {
	text-align: center;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;
    color: var(--container-color);
}

.marquee span {
	font-style: italic;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}