

.dropdown-menu {
    z-index: -1;
}

  .active .dropdown-menu {
    display: block;
  }

  .dropdown__icon  {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 0.35rem 2.5rem;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    cursor: pointer;

  }
  
  .dropdown__icon:hover {
    cursor: pointer;
  }


  .dropdown__icon.spin {
    position: relative;
    color: var(--container-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    transition-delay: 0.3s;
    padding: 0.6rem;
  }

  .dropdown__icon span {
    font-size: 1.1rem;
    font-family: "Satoshi-Bold";
  }



.language__dash {
  position: absolute;
  top: -1rem;
  left: 8rem;
  width: 0.125rem;;
  height: 8.4vh;
  background: var(--title-color);
  border-radius: 0.625rem;
  transition: all 0.4s;
  z-index: 999999;
}


@media screen and (min-width: 1768px) {
  .dropdown__icon {
    padding: 0.35rem 1.5rem;
  }
  .language__dash {
    left: 6rem;
    top: -1.85rem;
  }
}