.nav__link {
    margin: 0 auto;
    position: relative;
    color: var(--title-color);
    display: block;
    left: 0rem;
    right: 0px;
    display: none;
    font-family: "Satoshi-Bold", sans-serif;
    width: 100%;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}


  .nav__links-links {
    display: flex;
    gap: 1rem;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .nav__home {
    margin: 0.2rem auto;
    position: relative;
    color: var(--title-color);
    left: 0rem;
    right: 0px;
    font-family: "Satoshi-Bold", sans-serif;
    width: 100%;
    display: flex;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    font-size: 1.2rem;
  }

  .nav__home.spin {
    position: relative;
    color: var(--container-color);
    transition: all 5.5s cubic-bezier(0.16, 1, 0.3, 1);
    display: block;
    font-size: 1.2rem;
  }


  @media (max-width: 414px) {
    .nav__link {
        display: block;
        margin: 0 0;
        position: relative;
        color: var(--title-color);
        left: -1rem;
        right: 0rem;
        top: 1rem;
        display: none;
        font-family: "Satoshi-Bold", sans-serif;
        width: 200%;
        font-size: 0.3rem;
    }
    .nav__links-links {
        display: flex;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
      }
}